.git
.github
.gitignore
.DS_Store
__pycache__
*.pyc
.pytest_cache
.ruff_cache
venv
.idea
wandb/
data/
checkpoints/
k8s/
tests/
conftest.py
*.zip
MLEtestdata.zip.zip
README.md
LICENSE
environment.yaml
train.py
predict.py
evaluate.py
